.dropdown {
  padding: 7px 10px;
  position: relative;
}

.dropdown .label {
  cursor: default;
}

.label .access-key {
  text-decoration: underline;
}

.dropdown > .dropdown-items-wrapper {
  top: 31px;
  left: 0;
}

.dropdown:focus > .dropdown-items-wrapper {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
