.app {
  max-width: 600px;
  padding-bottom: 30px;
  z-index: 99;
  margin: 20px auto 40px auto;
}

.app-logo {
  animation: app-logo-spin infinite 6s linear;
  height: 80px;
}

.app-header, .btn-wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
}

.app-header {
  color: white;
  flex-wrap: wrap;
}

.app-header > * {
  flex: 1 1 100%;
}

.logo-wrapper {
  overflow: hidden;
  padding: 10px 0;
}

.app-heading {
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0 10px 0;
}

.app-description {
  margin-bottom: 20px;
  max-width: 500px;
  line-height: 2;
}

circle {
  fill: #555;
}

ellipse {
  stroke-width: 5;
  stroke: #555;
}

@keyframes app-logo-spin {
  0% { transform: rotate(0deg); } 
  20% { transform: rotate(90deg); } 
  40% { transform: rotate(135deg); }   
  60% { transform: rotate(225deg); } 
  80% { transform: rotate(270deg); }   
  100% { transform: rotate(360deg); }
}

button.dialog-btn {
  margin: 10px;
  padding: 4px 5px;
  background-color: rgb(221, 221, 221);
  border-radius: 1px;
  border: solid 1px rgba(102, 102, 102, 0.56);
  display: flex;
  border: solid 1px transparent;
  background: transparent;
  transition: all .1s linear;
  align-content: center;
}

button > * {
  vertical-align: middle;
}

button > span {
  line-height: 19px;
  font-size: 13px;
}

button.dialog-btn:hover {
  background-color: #fafafa;
  border-color: rgba(102, 102, 102, 0.4);
}

button.dialog-btn:active {
  background-color: #eee;
}

button.dialog-btn:disabled {
  opacity: .5;
}

button.dialog-btn:disabled:hover {
  background: none;
  border-color: transparent;
}


button > span, button > div {
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
} 

#event-icon, #task-icon {
  margin-right: 3px;
}

#event-icon > svg > #newevent,
#task-icon > svg > #newtask {
  display: block;
  fill: #555;
  stroke: #444;
}

button::-moz-focus-inner {
  border: 0;
}


