.direct-button .label > *{
  margin-right: 3px;
}

.direct-button .label  {
  display: flex;
  margin: 4px 7px;  
  align-items: center;
}

.direct-button {
  transition: all .1s linear;
  background: transparent;
  border: solid 1px transparent;
  border-radius: 2px;
}

.direct-button:hover {
  background-color: #f4f4f4;
  cursor: default;
  border-color: rgba(102, 102, 102, 0.4);
}

.direct-button:active {
  cursor: default;  
  background-color: #eee;
}

.dropdown-arrow {
  width: 8px;
  height: 8px;
  padding: 5px 0 5px 8px;
  margin-left: 7px;
  border-left: solid 1px #aaa;
}