.dbWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100vh;
  z-index: 9999;
  min-width: 690px;
  animation: open .2s ease forwards;
}

.dialog-title-bar.title-bar {
  margin-bottom: 0;
}

.dialog-title-bar > span {
  font-weight: 700;
  color: #888;
}

.dbWrapper.close {
  animation: close .3s ease forwards;  
}

@keyframes open {
  0% { transform: translate(-50%, -50%) scale(.7); opacity: 0; } 
  100% { transform: translate(-50%, -50%) scale(1); opacity: 1; }
}

@keyframes close {
  0% { transform: translate(-50%, -50%) scale(1); opacity: 1; }
  100% { transform: translate(-50%, -50%) scale(.8); opacity: 0; } 
}

.dialog-box {
  margin: 10px;
  background: #f6f6f6 !important;
}

.task-dialog .direct-button:nth-child(1) .icon > svg > #save-close,
.task-dialog .direct-button:nth-child(2) .icon > svg > #address,
.task-dialog .direct-button:nth-child(3) .icon > svg > #security,
.task-dialog .direct-button:nth-child(4) .icon > svg > #delete,
.event-dialog .direct-button:nth-child(1) .icon > svg > #save-close,
.event-dialog .direct-button:nth-child(2) .icon > svg > #address,
.event-dialog .direct-button:nth-child(3) .icon > svg > #security,
.event-dialog .direct-button:nth-child(4) .icon > svg > #attach,
.event-dialog .direct-button:nth-child(5) .icon > svg > #delete {
  display: block;
}

.icon-wrapper {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-wrapper:active {
  border-color: #a9a9a9;
  border-radius: 2px;
}

.close-icon {
  margin: 5px;
}

.mousedown {
  cursor: move;
}