/*********common css shared by each element**********/

* {
  font-family: 'Roboto', sans-serif;
  color: #555;
  font-size: 13px;
  outline: none;
  font-weight: 400;
}

body { 
  margin: 0 20px;
  font-family: sans-serif;
  background: #fbfbfb;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

.window {
  border-radius: 5px;  
  background: #f7f7f7;
  border: solid 1px #a9a9a9;  
  box-shadow: 0px 10px 30px 0 rgba(46,61,73,.35);
}

.title-bar {
  position: relative;
  font-weight: 700;
  border-radius: 4px 4px 0 0;    
  background: #dbdbdb;
  padding: 8px 0;
  text-align: center;
  color: #888;
  border-bottom: solid 1px #a9a9a9;
  margin-bottom: 30px;
}

input {
  background: transparent;
  border: solid 1px #a9a9a9;
  transition: box-shadow .100ms linear;
  box-shadow: none;
  padding: 5px 8px;
  border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#f6f6f6)); 
  background: -moz-linear-gradient(top, #eee, #f6f6f6);
}

select {
  padding: 3px 8px 3px 5px;
}

input:focus, select:focus {
  box-shadow: 0 0 0px 1px rgba(0, 176, 255, 0.56) inset;
}

textarea {
  resize: none;
}

.dropdown-items-wrapper {
  position: absolute;
  top: 23px;
  left: 0;
  display: flex;
  background: #f4f4f4;
  flex-wrap: wrap;
  width: 200px;
  box-shadow: 0px 10px 20px 0 rgba(46,61,73,.35);
  visibility: hidden;
  transform: scale(.9);
  transition: visibility 50ms linear, transform 50ms linear, opacity 50ms linear;
  z-index: 99999;
}

.dropdown-items-wrapper:empty {
  display: none;
}

.dropdown-item {
  padding: 8px 20px  8px 30px;
  flex: 1 0 150px;
  transition: background .1s linear;
}

.dropdown-item:hover {
  cursor: default;
  background: #ddd;
}

.divider {
  margin: 5px 8px;
  border-bottom: solid 1px #c9c9c9;
  padding: 0;
}

.dropdown-item.disabled {
 background: transparent;
 opacity: .5;
}

.dropdown-item.disabled:hover {
 background: transparent;
}
